@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&family=Roboto+Serif:wght@100;200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500,600,800&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
/* font-family: 'Public Sans','Roboto Serif', serif, sans-serif;
font-family: ; */

::-webkit-scrollbar{
    width: 0;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: hsla(0, 0%, 0%);
}
body{
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100svh;
    position: relative;
}



.hidden {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-50%);
  transition: transform 1s;
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50% );
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
.navbar {
  z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    min-height: 10svh;
    width: 100svw;
    padding: 25px;
    font-weight: 700;
    background-color: hsl(0, 0%, 0%);
    font-style: normal;
    font-family: 'Roboto Serif', serif;
    box-shadow: 0 20svh 25svh hsla(0, 0%, 40%,0.2);
    position: fixed;
    top:0;
    left:0;
  }

  .navbar * {
    text-decoration: none;
    
    color: hsl(0,0%,100%);
  }

  
  #frontPageImage {
    height: 100svh;
    width: 100svw;  
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    object-fit: cover;
  }

  .first-page{
    position: relative;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./images/frontpage2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-size: cover;
    /* overflow-y: auto ;
    overflow-x: hidden;
    transform-style: preserve-3d; */
  }   
  .first-page-title{
    text-transform: uppercase; 
    position: relative;
    transform-style: preserve-3d;
    height: 40svh;
    display: flex;
    justify-content: center;
    align-items: flex-end ;
    width: min(75vw,75ch);
    font-size: 3.5rem;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    line-height: 3rem;
    text-align: center;
    color: hsl(0, 0%, 100%);
  }

  .first-page-subtitle{
    font-size: 1.25rem;
    position: relative;
    height: 60svh;
    width: min(75vw,75ch);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
    line-height: 1.8;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    margin-top: 1rem;
    color: hsl(0,0%, 100%);
    font-family: 'Public Sans';
    text-align: center;
    transition: transform 2.5s;
  }
  
  
  .navbar-left {
    margin-right: auto;
    font-size: 1.35rem;
    font-size: 900;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  
  .navbar-right>span {
    margin-left: 1.5rem;
    cursor: pointer;
  }
  .bottom-title, .bottom-createdBy {
    text-transform: uppercase;
  }
  @media screen and (max-width:200px){
    .navbar-left{
        display: none;
    }
    .first-page-title {
      font-size: 1rem;
    }
    .first-page-subtitle {
      font-size: 0.15rem;
      letter-spacing: 1px;
    }

  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .hamburger .bar {
    color: hsl(0, 0%, 100%);
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  
  .sidebar {
    font-size: 1.25rem;
    font-weight: bolder;
    font-family: 'Public Sans','Roboto Serif', serif, sans-serif;
    position: absolute;
    top:15svh;
    right: 0;
    width: 30svw;
    color: hsla(0, 0%, 0%);
    display: none;
    transform: all 0.3s ease-in;
  }
  
  .text-box h1,
  .text-box h2{
    margin: 0;
  }
  
  

  
  body.dark-mode {
    background-color: #222;
    color: #fff;
  }
  
  
  .switch-dark-mode {
    cursor: pointer;
  }

  
  .about-me {
    min-height: 90svh;
    max-width: 100svw;
    padding: 5svh 10svw 10svh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    margin: 0 auto ;
    background-color: hsl(0, 0%, 0%);
  }
  .about-me-text {
    word-wrap: break-word;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    width: clamp(75vw,75ch,100svw);
    font-size: 2.5rem;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    line-height: 3rem;
    text-align: center;
    margin: 3rem 0 0 0;
    animation: textUp 2s 0s ;
  }
  .about-me-skillsBox-skills:hover {
    color:hsl(0, 0%, 100%);
    background-color: hsl(250, 100%, 50%);
    
  }
  .about-me-description {
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
  }

  .about-me-blue-line {
    border: 2px solid hsl(220, 100%, 50%);
    width:5rem;
    height: 0;
    border-radius: 20px;
    margin: 0 auto;
  }

  .about-me-grid{
    display: grid;
    height: max-content;
    width: 100%;
    padding: 0 auto;
    gap:2rem;
    padding-top: 2rem;
    grid-template-columns: repeat(2,1fr);
  }
  .about-me-grid>*{
    height: max-content;
    margin: 0 auto;
  }
  

  .about-me-description{
    height: max-content;
    width: 100%;
    text-align: left;
  }

  .about-me-skill-title,.about-me-description-title  {
    margin:1rem 0 2rem 0;
    font-family: 'Work Sans', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 1.25rem;
  }
  .about-me-skillsBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    height:max-content;
  }
  .about-me-description-info {
    color: hsl(0,0%,80%);
    text-align: left;
    font-family: 'Public Sans','Roboto Serif', serif, sans-serif;
    line-height: 1.5;
    word-spacing: 3px;
    letter-spacing: 1px;
  }
  .projects-container-description  {
    color: hsl(0,0%,40%);
    text-align: left;
    font-family: 'Source Sans 3', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
    word-spacing: 4px;
    font-weight: bolder;
  }

  .about-me-skillsBox-skills {
    padding: 10px 16px;
    font-family: 'Work Sans', sans-serif;
    text-transform: capitalize;
    height: max-content;
    font-size:medium;
    font-weight: 700;
    background-color: hsl(0, 0%, 95%);
    color: hsl(0,0%,10%);
    border-radius: 7px;
  }
  .about-me-contact-button {
    word-wrap: break-word;
    margin: 2rem auto 0 auto;
    max-width: 90svw;
    font-size: clamp(2vw,0.8rem);
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    align-self: flex-start;
    padding: 0.8rem 1.6rem;
    background-color: 	hsl(259, 79%, 59%);
    color: hsl(0,0%,100%);
    border:0;
    font-size: 1.6rem;
    border-radius: 10px;
    align-self: endk;
    box-sizing: border-box;
  }

  .about-me-contact-button:hover {
    cursor: pointer;
    border:1px solid hsla(0, 0%, 0%);
    box-shadow: 0px 3px 10px hsla(0, 0%, 0%);
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100svw;
    padding: 5svh 10svw 15svh 10svw;
    gap: 1rem;
    background-color: hsl(0, 0%, 10%)  ;
  }
  .projects> * {
    color: hsl(0, 0%, 100%);
  }
  .projects-title {
    word-wrap: break-word;
    grid-column: span 2;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    line-height: 3rem;
    text-align: center;
    margin: 3rem 0 0 0;
  }

  .projects-subtitle {    
    grid-column: span 2;
    font-size: 1.15rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 95%);
    text-align: center;
    margin: 1rem 0 0 0;
    height: max-content;
    /* max-width: 75svw; */
  }

  .projects-project1-image {
    grid-column: auto;
    background-color: blue;
  }
  .projects-project1-image>*{
    height: 100%;
    width: 100%;
  }

  .projects-project1-description{
    background-color: red;
  }
  .projects-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    gap: 0rem;
    grid-column: span 2;
  }
  .projects-container-description-info {
    color: hsl(0, 0%, 75%);
    margin-top: 0.5rem;
  }

  .projects-container-description-button {
    margin-top: 2rem;
    font-size: 1.10rem;
    border-radius: 10px;
    border:0;
    background-color: hsl(259, 79%, 59%);
    color: hsl(0, 0%, 100%);
    font-family: 'Source Sans 3', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0.5rem 1rem;
    transition: all 0.5s;
  }
  .projects-container-description-button:hover {
    cursor: pointer;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .projects-container>:nth-child(even){
    padding: 0 0 0.25rem 4rem ;
    height: max-content;
  }
  .projects-container>:nth-child(odd){
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 hsl(0, 0%, 0%);
    width: 100%;
  }
  .projects-container-description-title {
    color: hsl(0, 0%, 100%);
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .contact {    
    /* width: min(70svw,100ch); */
    position: relative;
    width: 100svw;
    background-color: hsl(0, 0%, 15%);
    padding-bottom: 4rem;
    min-height: 60svh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 100svh;
  }
  .contact>* {
    width: min(65svw,80ch);
    margin: 1rem auto;
    color: hsl(0, 0%, 100%);
  }
  .contact-title {
    word-wrap: break-word;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    line-height: 3rem;
    text-align: center;
    margin: 3rem auto 1rem auto;
  }
  .contact-subTitle {
    margin: 1rem auto;
    font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    color: hsl(0, 0%, 90%);    
  }

  .contact-form{
    min-height: 50svh;
    width: clamp(70svw,75ch, 90svw);
    box-shadow: 0 0.5rem 1rem 0 hsl(0, 0%, 0%);
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 1px;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 1.25rem;
    border-radius: 15px;
    padding-left: 1.75rem;
  }

  .contact-form>*{
    margin: 0.5rem 0;
    width: 100%;
  }
  .contact-form input,textarea {
    min-height: 5svh;
    padding: 1rem ;
    width: 95%;
    margin: 1rem;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Public Sans','Roboto Serif', serif, sans-serif;
    color: hsl(0, 0%, 0%);    
    border: 0;
    text-align: left;
    border: 0;
    font-size: 0.8rem;
  }
  .form-element-input-message{
    max-width: 100%;
    resize: none;
    min-height: 18svh;
  }
  input:focus, textarea:focus{
    outline: 0;
  }

  .contact-form-button-container {
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
  }
  .contact-form-button-container>button:hover {
    cursor: pointer;
  }
  .contact-form-button {
    background-color: hsl(259, 79%, 59%);
    color: hsl(0, 0%, 100%);
    margin-left: auto;
    align-self: flex-end;
    border:0;
    border-radius: 10px;
    width: max-content;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
  }

   .bottom {
    display: grid;
    max-width: 100svw;
    padding: 2rem 15svw;
    min-height: 30svh;;
    font-size: 0.8rem;
    font-family: 'Public Sans';
    gap:1rem;
    grid-template-columns: repeat(2,1fr);
  }
  .bottom>:nth-child(1) {
    
  }
  .bottom>hr{
    grid-column: span 2;
  }
  .bottom>:nth-last-child(1){
    grid-column: span 2;
    text-align: center;
  }
  
  
  .bottom-title {
    margin: 0 0 0.5rem 0;
  }

  .bottom-socialMedia-box>img{
    height: 35px;
    width: 35px;
    margin: 0 4px;
  }
  .bottom-title, .bottom-createdBy {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0 0 0 0.5rem;
  }
  .bottom-createdBy-description {
    padding: 0 0 0 0.5rem;
  }

  .bottom-right-container {
    margin: 0 0 0 1rem;
  }
  .bottom-createdBy-description {
    margin: 0.5rem 0 0 0;
  }
  
  .bottom, .bottom * {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
  }
  hr {
    height: 0;
    width: 100%;
  }
   
  @media screen and (max-width: 700px) {
    html{
        font-size: 18px;
    }

    .first-page-title {
      letter-spacing: 1px;
      font-size: 2.75rem;
    }
    .first-page-subtitle {
      font-size: 0.85rem;
      max-width: 80svw;
      margin-top: 2svh;
    }
    

    .navbar-right,
    .hamburger {
      display: none;
    }
  
    .navbar {
      justify-content: flex-end;
      width: 100svw;
    }
  
    .sidebar {
      text-align: end;
      position: fixed;
      top: 10svh;
      right: 0;
      width: 100svw;
      height: max-content;
      background-color: hsl(0,0%,100%);
      color: hsla(0, 0%, 0%);
      transition: left 0.3s ease-in-out, width 2s;
    }
    .sidebar>*{
        border-bottom: 1px groove hsla(0, 0%, 75%);
    }
  
    .sidebar>div {
      display: block;
      padding: 1rem;
      text-decoration: none;
    }
  
    .hamburger {
      display: block;
    }
  
    .hamburger.open .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.open .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.open .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .projects {
        grid-template-columns: 1fr;
    }
    .contact {
    }
    
    .contact-subTitle, .projects-subtitle  {
        font-size: 0.7rem;
    }
  }

  @media screen and (max-width:1000px) {
    .first-page-title {
      font-size: 2.75rem;
      max-width: 80svw;
    }
    .first-page-subtitle {
      font-size: 1.25rem;
      max-width: 70svw;
      padding: 0 8px;
      margin-top:0.75rem;
    }
    .contact-form {
      padding: 1rem 10px;
    }
    .contact-form input, textarea{
      margin: 1rem 20px 1rem 5px ;
      border-radius: 10px;
    }
    .form-element-input-message {
      max-width: 95%;
    }
    .projects-container {
      gap: 3rem;
      grid-template-columns: 1fr;
    }
    .projects-container>:nth-child(even){
      padding-left: 0;
    }
    
  .about-me-skillsBox, .about-me-description {
    max-width: 70svw;
  }
    .about-me-grid{
        grid-template-columns: 1fr;
    }
    .bottom {
      display: grid;
      grid-template-columns: 1fr;
    }
    .bottom>*{
      grid-column: span 2;
      margin-left:0;
    }
  }

  .bottom-social-icon:hover {
    cursor:pointer
  }
  
  /* @media screen and (max-width:300px) {
    * {
      word-break: break-all;
    }
  } */
  
  .animate-left{
    animation: left 3s linear;
  }

  /* @keyframes left {
    0% {
      margin-right:5rem;
    }
    100% {
      margin-right:1rem;
    }
  } */